<div>
    <b>My First MVC Application</b>

    <ul >
        <li>@Html.ActionLink("Muni", "Index", "Home")</li>
        <li>@Html.ActionLink("Butu", "About", "Home")</li>
        <li>@Html.ActionLink("Ghapulmiya", "Contact", "Home")</li>
    </ul>
    @*<div class="container">
            <div class="MyPartialView-header">
                <button type="button" class="MyPartialViewTest-inverse" data-toggle="collapse" data-target=".MyPartialViewTest-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MVC Application", "Index", "Home", new { area = "" }, new { @class = "MyPartialView-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>*@
</div>
